.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    color: #454855;
    width: 100%;
}

label {
    background-color: white;
    margin: 20px 0 0 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    flex-grow: 1;
    left: 0%;
    right: 0%;
}

input{
    border: 1px solid #d2d2d2;
    padding: 5px;
    margin-top: 10px; 
    border-radius: 1px;
    box-shadow: 2px 2px 1px 0 #d2d2d2;
}

.input_error {
    border: 1px solid red;
}

button {
    background-color: #f3a309;
    border: #f3a309;
    border-radius: 5px;
    color: white;
    padding: 10px;
    margin: 15px;
    box-shadow: 2px 2px 1px 0 #d2d2d2;
    width: 95%;
    font-size: 14px;
}

button:hover {
    cursor: pointer;
}

#error_message {
    color: red;
    background-color: white;
    border-radius: 1px;
    align-self: flex-start;
    margin-top: 10px;
}

#results {
    border: 1px solid #d2d2d2;
    padding: 5px;
    border-radius: 1px;
    box-shadow: 2px 2px 1px 0 #d2d2d2;
}