html {
  height: 100%;
  color: #505050;
  background-color: #f9f9f9;
}

@font-face {
  font-family: 'Fontawesome';
  src: local('Fontawesome'), url(./Fonts/fontawesome.woff) format('woff');
}

body {
  font-family: 'Fontawesome', sans-serif;
  height: 100%;
}

#root {
  display:flex;
  align-items: center;
  justify-content: center;
  min-height:100%;
}
